################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/Reource.DAL/obj
/Reource.DAL/bin
/Resource.BLL/bin
/Resource.BLL/obj
/Resource.IBLL/bin
/Resource.IBLL/obj
/Resource.IDAL/bin
/Resource.IDAL/obj
/Resource.Model/bin
/Resource.Model/obj
/ResWeb/bin
/ResWeb/obj
/ResWeb/Content/image
/ConsoleApplication1
/Resource.BLL.Container/bin
/Resource.BLL.Container/obj
/Resource.DAL.Container/bin
/Resource.DAL.Container/obj
/Project.Common/bin
/Project.Common/obj
/Project/bin
/Project/obj
/DRSQL

