<!--内外区间价格分部视图-->
<div class="col-md-4">
    <div class="form-group">
        <label class="control-label col-md-12">内外区间价 </label>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4">对内区间： </label>
        <div class="col-md-4">
            <input type="text" class="form-control" value="" />
            <div style="position:absolute;font-size:16px;font-weight:600; top:8px;right:3px;">~</div>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" value="" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4">对外区间 ：</label>
        <div class="col-md-4">
            <input type="text" class="form-control" value="" />
            <div style="position:absolute;font-size:16px;font-weight:600; top:8px;right:3px;">~</div>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" value="" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4">单位： </label>
        <div class="col-md-8">
            <select class="selectpicker form-control pull-righ" id="select-city" title="请选择...">
                <option value="1">正常啊</option>
                <option value="2">区间</option>
                <option value="3">内外</option>
                <option value="4">内外</option>
            </select>
        </div>
    </div>
</div>