<!--内外价格分部视图-->
<div class="col-md-3">
    <div class="form-group">
        <label class="control-label col-md-12">内外价 </label>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4">对内价： </label>
        <div class="col-md-8">
            <input type="text" class="form-control" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4">对外价： </label>
        <div class="col-md-8">
            <input type="text" class="form-control" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-4">单位： </label>
        <div class="col-md-8">
            <select class="selectpicker form-control pull-righ" id="select-city" title="请选择...">
                <option value="1">正常啊</option>
                <option value="2">区间</option>
                <option value="3">内外</option>
                <option value="4">内外</option>
            </select>
        </div>
    </div>
</div>