<div class="col-md-3">
    <div class="form-group">
        <label class="control-label col-md-12">正常价 </label>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">价格： </label>
        <div class="col-md-9">
            <input type="text" class="form-control" value="" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">单位： </label>
        <div class="col-md-9">
            <select class="selectpicker form-control pull-righ" id="select-city" title="请选择...">
           
            </select>
        </div>
    </div>
    <div class="form-group" style="visibility:hidden;">
        <div class="col-md-9">
            <input type="text" class="form-control" value="" />
        </div>
    </div>
</div>
