
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页数据管理</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/app/css")
    <style>
        .test {
            background: #ffffff;
            padding: 21px 30px;
            margin: 0 auto;
            margin-top: 35px;
            width: 40%;
        }

        .title {
            margin-top: 0;
            padding-bottom: 7px;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 21px;
            position: relative;
        }

            .title::after {
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }

        h4 {
            font-size: 1.5em;
            font-weight: 400;
            color: #303030;
        }

        a {
            border: 1px solid #ebebeb;
            padding: 8px 12px;
            color: #959595;
            line-height: 1.5em;
            font-size: 16px;
            display: inline-block;
            margin: 7px 14px 7px 0;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            text-decoration: none;
        }

            a:hover {
                color: #ffffff;
                background: #e67e22;
                text-shadow: none;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="test">
            <h4 class="title">首页图片</h4>
            <ul>
                <li>
                    <a>广告轮播</a>
                    <a>Banner图</a>
                    <a>菜单</a>
                </li>
            </ul>
        </div>
        <div class="test">
            <h4 class="title">首页底部</h4>
            <ul>
                <li>
                    <a>网页底部</a>
                    <a>关于我们</a>
                    <a>关于多丽</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
