
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑广告位</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/ce/css")
</head>
<body>
    <div class="container">
        <div style="max-width:1000px;margin:0 auto;">
            <h3 style="margin:30px 0px;text-align:center">编辑广告位</h3>
            @using (Ajax.BeginForm("Edit", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "commitResult",
                OnFailure = "commitResult"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">城市：</label>
                    <div class="col-md-4">
                        <select class="selectpicker form-control pull-righ" name="City" id="City" title="请选择"></select>
                    </div>
                    <label class="control-label col-md-2">园区：</label>
                    <div class="col-md-4">
                        <select class="selectpicker form-control pull-righ" name="ParkCode" id="Park" title="请选择"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">广告位编码：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADCode" id="ADCode">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">广告位名称：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADName" id="ADName">
                    </div>
                    <label class="control-label col-md-2">广告位类型：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADTypeCode" id="ADType">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">押金：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADDeposit" id="ADDeposit">
                    </div>
                    <label class="control-label col-md-2">规格：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADSize" id="ADSize">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">资源分组：</label>
                    <div class="col-md-4">
                        <select class="selectpicker form-control pull-righ" name="GroupCode" id="Group" title="请选择"></select>
                    </div>
                    <label class="control-label col-md-2">位置：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="ADAddr" id="ADAddr" onmouseover="this.title=this.value">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">预定方式：</label>
                    <div class="checkbox">
                        <label><input type="checkbox" name="YPrice" id="YPrice">按年预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="QPrice" id="QPrice">按季度预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="MPrice" id="MPrice">按月预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="DPrice" id="DPrice">按天预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="HDPrice" id="HDPrice">按半天预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="SPrice" id="SPrice">按/个/次预定</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/年：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="InYPrice" id="InYPrice">
                    </div>
                    <label class="control-label col-md-2">对外价格/年：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="OutYPrice" id="OutYPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/季：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="InQPrice" id="InQPrice">
                    </div>
                    <label class="control-label col-md-2">对外价格/季：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="OutQPrice" id="OutQPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/月：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="InMPrice" id="InMPrice">
                    </div>
                    <label class="control-label col-md-2">对外价格/月：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="OutMPrice" id="OutMPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="InDPrice" id="InDPrice">
                    </div>
                    <label class="control-label col-md-2">对外价格/天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="OutDPrice" id="OutDPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/半天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="InHDPrice" id="InHDPrice">
                    </div>
                    <label class="control-label col-md-2">对外价格/半天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="OutHDPrice" id="OutHDPrice">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/单个：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="InSPrice" id="InSPrice">
                    </div>
                    <label class="control-label col-md-2">对外价格/单个：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="OutSPrice" id="OutSPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">基础图片：</label>
                    <div class="col-md-10">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">详情描述：</label>
                    <div class="col-md-10">
                        <script id="Content" name="ADContent" type="text/plain">
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">最后修改人：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="UpdateUser" id="UpdateUser">
                    </div>
                    <label class="control-label col-md-2">最后修改时间：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="UpdateTime" id="UpdateTime">
                    </div>
                </div>

                <p style="text-align:center;margin:40px 0px;">
                    <input type="submit" class="btn btn-primary" value="提交">
                    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();" style="margin-left:10px;">
                </p>
            }
        </div>
    </div>
    @Scripts.Render("~/common/js")
    @Scripts.Render("~/ce/js")
</body>
</html>
