
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加会议室</title>
    @Styles.Render("~/common/css")
    @Styles.Render("~/ce/css")
</head>
<body>
    <div class="container">
        <div style="max-width:900px;margin:0 auto;">
            <h3 style="margin:30px 0px;text-align:center">添加会议室</h3>
            @using (Ajax.BeginForm("Create", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "commitResult",
                OnFailure = "commitResult"
            }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">城市：</label>
                    <div class="col-md-4">
                        <select class="selectpicker form-control pull-righ" name="City" id="City" title="请选择"></select>
                    </div>
                    <label class="control-label col-md-2">园区：</label>
                    <div class="col-md-4">
                        <select class="selectpicker form-control pull-righ" name="ParkCode" id="Park" title="请选择"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">会议室编码：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRCode" id="MRCode">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">会议室名称：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRName" id="MRName">
                    </div>
                    <label class="control-label col-md-2">面积：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRArea" id="MRArea">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">容纳人数：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRSeat" id="MRSeat">
                    </div>
                    <label class="control-label col-md-2">押金：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRDeposit" id="MRDeposit">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">资源分组：</label>
                    <div class="col-md-4">
                        <select class="selectpicker form-control pull-righ" name="GroupCode" id="Group" title="请选择"></select>
                    </div>
                    <label class="control-label col-md-2">位置：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRAddr" id="MRAddr" onmouseover="this.title=this.value">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">预定方式：</label>
                    <div class="checkbox">
                        <label><input type="checkbox" name="MRUnitPrice" id="MRUnitPrice">可全天预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="MRUnitPrice" id="MRUnitPrice">可半天预定</label>
                        <label style="margin-left:20px;"><input type="checkbox" name="MRUnitPrice" id="MRUnitPrice">可小时预定</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/全天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRSeat" id="MRSeat">
                    </div>
                    <label class="control-label col-md-2">对外价格/全天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRUnitPrice" id="MRUnitPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/半天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRSeat" id="MRSeat">
                    </div>
                    <label class="control-label col-md-2">对外价格/半天：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRUnitPrice" id="MRUnitPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/小时：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRSeat" id="MRSeat">
                    </div>
                    <label class="control-label col-md-2">对外价格/小时：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRUnitPrice" id="MRUnitPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">对内价格/延时：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRSeat" id="MRSeat">
                    </div>
                    <label class="control-label col-md-2">对外价格/延时：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="MRUnitPrice" id="MRUnitPrice">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">基础图片：</label>
                    <div class="col-md-10">

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">详情描述：</label>
                    <div class="col-md-10">
                        <script id="Content" name="MRContent" type="text/plain">
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">最后修改人：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="UpdateUser" id="UpdateUser">
                    </div>
                    <label class="control-label col-md-2">最后修改时间：</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="UpdateTime" id="UpdateTime">
                    </div>
                </div>

                <p style="text-align:center;margin:40px 0px;">
                    <input type="submit" class="btn btn-primary" value="提交">
                    <input type="button" class="btn btn-danger" value="关闭" onclick="javascript: parent.layer.closeAll();" style="margin-left:10px;">
                </p>
            }
        </div>
    </div>
    @Scripts.Render("~/common/js")
    @Scripts.Render("~/ce/js")
</body>
</html>
