<div class="statistics-panel">
    <div class="row">
        <div class="col-lg-1 col-md-1 statistics-title">
            福田园区
        </div>
        <div class="col-lg-1 col-md-1 statistics-totalNum">
            <div class="statistics-name">房间数</div>
            <div class="statistics-num"><span>99999</span><span>间</span></div>
        </div>
        <div class="col-lg-2 col-md-2 statistics-total">
            <div class="statistics-name">总面积</div>
            <div class="statistics-num"><span>0</span><span>㎡</span></div>
        </div>
        <div class="col-lg-2 col-md-2 statistics-rent">
            <div class="statistics-name">客户租赁面积</div>
            <div class="statistics-rate"><span>0</span><span>%</span></div>
            <div class="statistics-num"><span>97654321.23</span><span>㎡</span></div>
        </div>
        <div class="col-lg-2 col-md-2 statistics-self">
            <div class="statistics-name">内部使用面积</div>
            <div class="statistics-rate"><span>0</span><span>%</span></div>
            <div class="statistics-num"><span>0</span><span>㎡</span></div>
        </div>
        <div class="col-lg-2 col-md-2 statistics-free">
            <div class="statistics-name">空置面积</div>
            <div class="statistics-rate"><span>0</span><span>%</span></div>
            <div class="statistics-num"><span>0</span><span>㎡</span></div>
        </div>
        <div class="col-lg-1 col-md-1 statistics-detail">
            <div>
                查看楼栋
                <i class="glyphicon glyphicon-menu-down"></i>
            </div>
        </div>
    </div>
</div>