
<div class="imgContainer">
    @if (ViewBag.img != null)
    {
        var imgList = ViewBag.img as List<T_ResourceImg>;
        foreach (var item in imgList)
        {
            <div class="imgbox">
                <img src="@item.ImgUrl" />
                @if (ViewBag.check == null)
                {
                    <span class="imgdel" title="删除" data-id="@item.ID">
                        <i class="layui-icon layui-icon-close" style="color:#ff0000;"></i>
                    </span>
                }
            </div>
        }
    }
    @if (ViewBag.check == null)
    {
        <div class="addbox">
            <span>+</span>
            <input type="file" multiple name="resourceimg" />
        </div>
    }

</div>