<select class="selectpicker form-control" id="status">
    <option value="">全部</option>
    <option value="1">客户占用</option>
    <option value="2">内部占用</option>
    <option value="3">空闲</option>
</select>
