<select class="selectpicker form-control" id="status">
    <option value="">全部</option>
    <option value="1">占用</option>
    <option value="2">空闲</option>
    <option value="3">预定</option>
    <option value="4">预留</option>
</select>
