
@model Resource.Model.V_Public

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>资源详情</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
</head>
<body>
    <div class="container"> 

    </div>
</body>
</html>
