
@model Resource.Model.T_ResourcePublic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>广告位资源详情</title>
    @Styles.Render("~/Plugins/bootstrap/css/bootstrap.min.css")
</head>
<body>
    <div class="container"> 
        <div class="form-group">
            <label class="control-label col-lg-2 col-md-2 col-sm-2">名称</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <span>content</span>
            </div>
        </div>
    </div>
</body>
</html>
