<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  <!--<add name="DorllyResourceEntities" connectionString="metadata=res://*/DorllyResource.csdl|res://*/DorllyResource.ssdl|res://*/DorllyResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DorllyResource;persist security info=True;user id=sa;password=2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <add name="DorllyResourceEntities" connectionString="metadata=res://*/DorllyResource.csdl|res://*/DorllyResource.ssdl|res://*/DorllyResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.76.154.6;initial catalog=DorllyResource;persist security info=True;user id=sa;password=2015atXL210to213;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>