<div id="orderdata" class="orderdata">
    <div id="header">
        <div>趋势图分析</div>
        <div>
            <div>统计时间：</div>
            <div><input type="text" class="form-control" id="stime"></div>
            <div>-</div>
            <div><input type="text" class="form-control" id="etime"></div>
        </div>
    </div>
    <div id="content">
        <div class="normal">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>

        </div>
    </div>
</div>
