<div class="orderdata">
    <div class="header">
        <div class="header-title"><i class="fa fa-circle-thin" style="color:orange; font-size:14px;"></i>  趋势图分析</div>
        <div class="header-search">
            <div>统计时间：</div>
            <div><input type="text" class="form-control" id="stime"></div>
            <div style="padding:0px 5px;font-size:22px;">-</div>
            <div><input type="text" class="form-control" id="etime"></div>
            <div>
                <button type="button" class="btn btn-primary" id="search" style="">
                    <i class="layui-icon layui-icon-search"></i> 查 询
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-panel">
            <div style="background-color:#f8cb6a;">
                <div data-kind="1">0</div>
                <div>房屋预定数量</div>
            </div>
            <div style="background-color:#89c6fa;">
                <div data-kind="2">0</div>
                <div>工位预定数量</div>
            </div>
            <div style="background-color:#f7a769;">
                <div data-kind="3">0</div>
                <div>会议室预定数量</div>
            </div>
            <div style="background-color:#96a4fe;">
                <div data-kind="4">0</div>
                <div>广告位预定数量</div>
            </div>
            <div style="background-color:#f5c2e5;">
                <div data-kind="5">0</div>
                <div>资源预定订单总数</div>
            </div>
        </div>
        <div class="content-graph" id="content-graph">

        </div>
    </div>
</div>