<div class="row" id="resource">
    <div class="row wt-title">
        <div class="col-lg-2 col-md-2 pull-left" style="line-height:34px;font-size:16px;">
            <i class="fa fa-circle-thin" style="color:orange; font-size:14px;"></i>  业务概览
        </div>
    </div>
    <div class="row" id="res-search">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="input-group">
                <span class="input-group-addon">园区</span>
                @{ Html.RenderAction("ParkDrop", "Drop", new { pid = "", id = "", model = 1 });}
            </div>
        </div>
    </div>
    <div id="res-data">
        <div class="row">
            <div class="col-lg-1 col-md-1">
                房屋
            </div>
            <div class="col-lg-3 col-md-3">
                <div>总面积</div>
                <div class="res-num"><span>12345670.98</span><span>㎡</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>已租面积</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>345670.98</span><span>㎡</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>空置面积</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>670.98</span><span>㎡</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1">
                会议室
            </div>
            <div class="col-lg-3 col-md-3">
                <div>总租赁次数</div>
                <div class="res-num"><span>@ViewBag.num</span><span>次</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>客户使用次数</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>5</span><span>次</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>内部使用次数</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>5</span><span>次</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1">
                工位
            </div>
            <div class="col-lg-3 col-md-3">
                <div>工位总数</div>
                <div class="res-num"><span>5</span><span>次</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>已租个数</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>5</span><span>次</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>空置个数</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>5</span><span>次</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1">
                广告位
            </div>
            <div class ="col-lg-3 col-md-3">
                <div>广告位总数</div>
                <div class="res-num"><span>5</span><span>个</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>已租个数</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>5</span><span>个</span></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>空置个数</div>
                <div class="res-rate"><span>22.22</span><span>%</span></div>
                <div class="res-num"><span>5</span><span>个</span></div>
            </div>
        </div>
    </div>

</div>