
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    @Styles.Render("~/common/css")
    <link rel="stylesheet" href="~/Plugins/bootstrap-select/css/bootstrap-select.min.css">
</head>
<body>
    <div> 
        <select class="selectpicker" id="test" title="请选择..." disabled>
            <option>aaaa</option>
            <option>aaaa</option>
            <option>aaaa</option>
        </select>
    </div>
    @Scripts.Render("~/common/js")
    <script src="~/Plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script>
        $(function () {

            $('#test').prop('disabled', true);

        });
    </script>
</body>
</html>
