@model T_Resource
<div class="form-group">
    <label class="control-label col-md-2">资源编号：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-id" value=""/>
    </div>
    <label class="control-label col-md-2">资源名称：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-name"  value=""/>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">资源类别：</label>
    <div class="col-md-4">
        @{
            if (ViewData["rTypeList"] != null)
            {
                @Html.DropDownList("res-type", ViewData["rTypeList"] as SelectList, new { @class = "selectpicker form-control pull-righ", @title = "请选择...", @disabled = "disabled" });
            }
            else
            {
                <select class="selectpicker form-control pull-righ" id="select-city" title="请选择.." disabled>
                    <option selected>暂无数据</option>
                </select>
            }
        }
    </div>
    <label class="control-label col-md-2">资源分组：</label>
    <div class="col-md-4">
        @{
            if (ViewData["rGroupList"] != null)
            {
                @Html.DropDownList("res-group", ViewData["rGroupList"] as SelectList, new { @class = "selectpicker form-control pull-righ", @title = "请选择..." });
            }
            else
            {
                <select class="selectpicker form-control pull-righ" id="select-city" title="请选择..">
                    <option selected>暂无数据</option>
                </select>
            }
        }
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">所属园区：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-park" />
    </div>
    <label class="control-label col-md-2">所属主体：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-provider" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">资源面积：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-rentArea" />
    </div>
    <label class="control-label col-md-2">押金金额：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-deposit" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">容纳人数：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-personNum" />
    </div>
    <label class="control-label col-md-2">资源尺寸：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-size" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">详细位置：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-fullAddr" />
    </div>
    <label class="control-label col-md-2">位置简称：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="res-shortAddr" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">发布时间：</label>
    <div class="col-md-2">
        <input type="text" class="form-control" name="public-start" />
        <label style="position:absolute;top:20%; right:3px;">~</label>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="public-end" />
    </div>
    <label class="control-label col-md-2">发布等级：</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="public-level" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">资源价格：</label>
    <div class="col-md-2">
        <div class="input-group">
            <span class="input-group-addon"> 定价模式</span>
            <select class="selectpicker form-control pull-righ" id="price-model" title="请选择..">
                <option value="1" selected>正常价</option>
                <option value="2">区间价</option>
                @*<option value="3">内外价</option>
                    <option value="4">内外区间价</option>*@
            </select>
        </div>
    </div>
    <div class="col-md-2" id="price-normal">
        <label style="position:absolute;top:15%; left:5px;">￥ </label>
        <input type="text" class="form-control" name="pn-money" style="text-indent:10px;" />
    </div>
    <div id="price-interval">
        <div class="col-md-2">
            <label style="position:absolute;top:15%; left:5px;">￥ </label>
            <input type="text" class="form-control" name="pi-min" style="text-indent:10px;" />
            <label style="position:absolute;top:20%; right:3px;">~</label>
        </div>
        <div class="col-md-2">
            <label style="position:absolute;top:15%; left:5px;">￥ </label>
            <input type="text" class="form-control" name="pi-max" style="text-indent:10px;" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group" style="border-radius:4px;">
            <select class="selectpicker form-control pull-righ" id="select-city" title="请选择单位..." style="border-radius:4px;">
                <option value="1">正常啊</option>
                <option value="2">区间</option>
                <option value="3">内外</option>
                <option value="4">内外</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">资源图片：</label>
    <div class="col-md-10">
        @Html.Action("GetResImgByID", "Image", new { resourceID = "FTYQ-1-01-001-K/101" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">资源介绍：</label>
    <div class="col-md-10">
        <script id="res-content" name="res-content" type="text/plain">
        </script>
    </div>
</div>
<div class="form-group" style="padding:15px 0px; text-align:center;border:1px solid #0094ff;border-radius:2px;">
    <input type="submit" class="layui-btn layui-btn-normal" value="保存">
    <input type="button" class="layui-btn layui-btn-normal" value="关闭">
</div>
